apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-server
spec:
  ports:
    - port: 4242
      name: http
      protocol: TCP
      targetPort: http
  selector:
    app: {{ .Release.Name }}-server